.ipynb_checkpoints
.vscode

# ignore all files in example_data given by Ton
example_data/**.hdf5 

# the calibrated files are not for GitHub
Lab3_data_calibrated/** 
# but we add one calibrated file to show the format and to add the folder
!Lab3_data_calibrated/SEM_known_Cu_calibrated.json

# ignore all the plots, except one example
plots/**
# !plots/SEM_known_Cu_calibrated.html

**__pycache__
